.wrapper {
	background-color: dodgerblue;
	color: blue;
	border-style: solid;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	font-size: 30px;
}

.flex-item-1 {
	border-style: solid;
	background-color: #f1f1f1;
	padding: 200px;
	margin-bottom: 10px;
	flex: 50%;
}

.flex-item-2 {
	background-color: dodgerblue;
	padding: 200px;
	flex: 50%;
	margin-bottom: 10px;
	border-style: solid;
}
.flex-item-3 {
	border-style: solid;
	background-color: #f1f1f1;
	padding: 200px;
	margin-bottom: 10px;
	flex: 50%;
}

.flex-item-4 {
	background-color: dodgerblue;
	padding: 200px;
	flex: 50%;
	margin-bottom: 10px;
	border-style: solid;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 600px) {
	.flex-item-right,
	.flex-item-left {
		flex: 100%;
		width: 30%;
		max-width: 20 px;
	}
}
